---
title: S1MB10T3
---

{% include head.html %}
{% include navbar.html %}

<section>
  <div id="container">
      <img id="bjork" src={{'/assets/img/profile.jpg' | relative_url }}>
  </div>

  <footer>
    <nav class="navtext">
      <a href="https://github.com/S1MB10T3">github</a>
      <a href="https://www.instagram.com/S1MB10T3/">instagram</a>
    </nav>
  </footer>
</section>

<section id="bio">
  <img src={{'/assets/img/selfie.jpeg' | relative_url }} alt="">
  <div id="bio-text">
    <h1>Crafting Unique Experiences</h1>
    <p>A NYU Gallatin Graduate that studied Futurism, the combination of Computer
      Science, Philosophy, Politics, and Art with a focus in political radicalization
      on the internet and conceptualizing a more free and open internet. </p>
  </div>
</section>
