---
title: S1MB10T3
---

{% include head.html %}
{% include navbar.html %}

    <div id="content">
      <img class="featuredimg" src={{'/assets/img/83110/city.png' | relative_url }}>
      <h2>Project 83110</h2>
      <p>Love Yourself. Embrace Sin. </p>
      <p><a href="/icarus">Check Out</a></p>
    </div>

    <footer>
      <nav class="navtext">
        <a href="https://dribbble.com/S1MB10T3">dribble</a>
        <a href="https://github.com/S1MB10T3">github</a>
        <a href="https://www.instagram.com/S1MB10T3/">instagram</a>
      </nav>
    </footer>
