@import url('https://fonts.googleapis.com/css?family=Courier+Prime|VT323&display=swap');

html {
	font-family: 'Courier Prime', monospace;
	color: #333;
	background-color: #fff;
}

a, a:visited {
	display: inline-block;
  color: #333;
  text-decoration: none;
	-webkit-transition: color 0.33s;
	transition: color 0.33s;
	text-decoration: underline;
}

a:active {
	color: #333;
	transition: all .5s ease-in-out;
	text-decoration: line-through;
}

a:hover {
	color: #000055;
	text-decoration: none;
}

.home-nav-link:hover {
	transform-origin: 0 50% !important;
	transform: scale(1.2);
}

br {
	line-height: 150%;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'VT323', monospace;
	text-align: center;
}

img {
		/* object-fit: cover; */
	  display: block;
	  /* margin: 100px auto; */
}

.small-img {
	max-width: 50%;
	max-height: 500px;
}

header {
	display: block;
	text-align: center;
	padding: 0 5%;
	padding-bottom: 20px;
	max-width: 960px;
	margin: 0 auto;
}

#container {
	display: flex;
	padding: 0;
	max-width: 960px;
	margin: 0 auto;
	-webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 3s; /* Firefox < 16 */
        -ms-animation: fadein 3s; /* Internet Explorer */
         -o-animation: fadein 3s; /* Opera < 12.1 */
            animation: fadein 3s;
	/* overflow-x: hidden; */
}

section {
	display: flex !important;
	flex-direction: column;
	padding: 10% 0px;
}

/* Home Page */
section::after, .u-cf {
  content: "";
  display: table;
  clear: both; }

/* Navbar */

#brandlink, #brandlink a, #brandlink a:hover, #brandlink a:visited {
	color: #333;
  text-decoration: none;
	margin-bottom: 0 !important;
}

nav {
	padding: 20px;
}

nav a {
	padding: 0 5px;
}

header h1 {
	font-size: 3em;
}

#tagline {
	font-family: 'VT323', monospace;
	font-size: 1.5em;
	margin-top: 0;
}

/* Project Page */
.projectTitle{
	display: block;
}

#headerMedia {
	max-width: 60%;
	max-height: 400px;
}


/* Collection List */

.feed {
	padding-top: 100px;
	max-width: 900px;
	margin: 0 auto;
	display: flex;
	flex-flow: row wrap;
	align-content: flex-start;
}

.block {
	width: 300px;
	height: 300px;
	text-align: center;
	transition: transform .5s ease-in-out;
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
	filter: grayscale(100%);
	-webkit-transition: filter 0.33s;
	transition: filter 0.33s;
}

.block:hover {
	-webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
	filter: grayscale(0%);
}

.featuredimg {
	display: block;
	width: 200px;
	height: 200px;
	overflow: hidden;
	margin: 0 auto;
	justify-content: center;
	align-items: center;
	object-fit: cover;
}

.dir-img {
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
	filter: grayscale(100%);
	-webkit-transition: filter 0.33s;
	transition: filter 0.33s;
}

.dir-img:hover {
	-webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
	filter: grayscale(0%);
}

/* .featuredimg:hover {

} */

.video-wrapper {
	position: relative;
	overflow: hidden;
	width: 100%;
	padding-top: 75%;
}

.responsive-video {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
}


@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


footer {
	padding: 20px;
	text-align: center;
}

.horizontal-wrapper {
	padding: 2em 0;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.center {
	display: flex;
	text-align: center;
	align-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.center-self {
	text-align: center;
}

.clear {
	clear: both;
}

@media only screen and (max-width: 960px)  {
	.horizontal-wrapper {
		flex-direction: column;
	}

	.feed {
		justify-content: center;
	}

	.left, .right {
		float: none;
		width: 100%;
		padding: 0;
	}
}
