@import url('https://fonts.googleapis.com/css?family=Courier+Prime|VT323&display=swap');

html {
	cursor: crosshair;
	font-family: 'Courier Prime', monospace;
	color: #000;
}


a, a:visited {
	cursor: crosshair;
  color: #0000EE;
  text-decoration: none;
	-webkit-transition: color 0.33s;
	transition: color 0.33s;
}

a:active {
	color: #000;
}

a:hover {
	color: #000055;
	text-decoration: underline;
}

br {
	line-height: 150%;
}

#brandlink, #brandlink a, #brandlink a:hover, #brandlink a:visited {
	color: #000;
  text-decoration: none;
	margin-bottom: 0 !important;
}

#tagline {
	font-family: 'VT323', monospace;
	margin-top: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'VT323', monospace;
	text-align: center;
}

img {
		/* object-fit: cover; */
	  display: block;
	  margin: 0 auto;
	  max-width: 80%;
	  max-height: 500px;
}

.small-img {
	max-width: 50%;
	max-height: 500px;
}

header {
	display: block;
	text-align: center;
	padding: 0 5%;
	padding-bottom: 20px;
	max-width: 960px;
	margin: 0 auto;
}

/* Home Page */
nav {
	padding: 20px;
}

nav a {
	padding: 0 5px;
}

section::after, .u-cf {
  content: "";
  display: table;
  clear: both; }

/* Project Page */
.projectTitle{
	display: block;
}

#headerMedia {
	max-width: 60%;
	max-height: 400px;
}

.feed {
	margin-top: 40px;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

.block {
	width: 480px;
	height: 480px;
	text-align: center;
}

#bjork {
	display: block;
	width: 50%;
	height: 50%;
	overflow: hidden;
	margin: 0 auto;
	justify-content: center;
}

.featuredimg {
	display: block;
	width: 400px;
	height: 400px;
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
	filter: grayscale(100%);
	-webkit-transition: filter 0.33s;
	transition: filter 0.33s;
	overflow: hidden;
	margin: 0 auto;
	justify-content: center;
	align-items: center;
	object-fit: cover;
}

.featuredimg:hover {
	-webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
	filter: grayscale(0%);
}

#container {
	padding: 0 5%;
	max-width: 960px;
	margin: 0 auto;
	-webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 3s; /* Firefox < 16 */
        -ms-animation: fadein 3s; /* Internet Explorer */
         -o-animation: fadein 3s; /* Opera < 12.1 */
            animation: fadein 3s;
	overflow-x: hidden;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


footer {
	padding: 20px;
	text-align: center;
}

.center {
	display: flex;
	text-align: center;
	align-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.center-self {
	text-align: center;
}

.clear {
	clear: both;
}

@media only screen and (max-width: 1080px)  {
	.feed {
		justify-content: center;
	}

	.left, .right {
		float: none;
		width: 100%;
		padding: 0;
	}
}



/*
	Art Layout Page Styles
*/
.gallery {
  columns: 2;
	column-gap: 5px;
}

.gallery img {
	display: inline-block;
	width: 100%;
}

@media only screen and (max-width: 1080px)  {
	.gallery {
	   columns: 1;
	}
}
