h, h1, h2, h3 {
  text-align: center;
}

/* add flex box for future update */
section {
  padding: 50px 0;
  /* display: flex; */
  /* justify-content: center; */
}

div {
  padding-bottom: 20px;
}

.color-block {
  display: inline-block;
  padding: 100px 50px;
  font-weight: 600;
}
