<!DOCTYPE html>
<html>
  {% include head.html %}
  <link href="{{ site.baseurl }}/assets/css/project.css" rel="stylesheet">

<body>
  <header>
    <nav class="intro-nav navtext">
      <a onclick="goBack()">>back</a>
    </nav>
    <img id="headerMedia" class="headerimg" src="{{ site.baseurl }}/assets/img/{{ page.logo }}">
    <p id="tag"> {{ page.tagline }} </p>
  </header>
  <div id="container">
    <article id="message">
      {{ content }}
    </article>
  </div>
</body>
</html>
